html {
    box-sizing: border-box;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}

*,
*:before,
*:after { box-sizing: inherit; }
:root {
  --main-color: grey;
  --head-color: blue;
  --title-color: green;
  --content-color: yellow;
  --side-color: red;
  --footer-color: purple;
  --text-color: #f1f1f1;
  --charcole-grey: #444;
  --border-blk: #333;  
}
nav a { color: var(--text-color);}
nav a:hover { color: var(--border-blk); }
.site {
  display: grid;
  grid-template-columns:repeat(4, 2fr);
  grid-template-rows:repeat(4, 2fr);
  grid-template-areas:
  "header header header header"
  "side main main main"
  "side main main main"
  "footer footer footer footer";
  grid-gap: 0.5rem;
  background-color: var(--main-color);
}
.masthead { grid-area: header; background-color: var(--head-color);}
.nav { text-align: right;}
.page-title { text-align: center; background-color: var(--title-color);}
.side { grid-area: side; background-color: var(--side-color);}
.main-content { grid-area: main; background-color: var(--content-color);}

.media {
  margin-bottom: 2em;
  border: 2px solid var(--charcole-grey);
  padding: 10px;
}

.media > .title { grid-area: title; }
.media > .img { grid-area: img; }
.media > .content { grid-area: bd; }

.media {
  display: grid;
  grid-column-gap: 20px;
  grid-template-areas:
    "title"
    "img"
    "bd"
    "ft";
}

.footer { 
    grid-area: footer; 
    text-align: center; 
    padding-top: 1rem; 
    background-color: var(--footer-color); 
}

@media (min-width: 600px) {

  /* clearfix*/
  .media:after {
    content: "";
    display: block;
    clear: both;
  }

  .media > .media {
    margin-left: 160px;
    clear: both;
  }

  .media .img {
    float: left;
    margin: 0 10px 0 0;
    width: 150px;
  }
  
  .media > * { margin: 0 0 0 160px; }
}

